.header-wrapper
  .right
    .form-group
      #login-email
        %label Email
        %input
      #login-password
        %label Password
        %input
    .button.clear-button Login
    \/
    .button.clear-button Register
